@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Baloo Tamma 2', cursive;
}
body{
    background-color: #fa6666 !important;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.wrapper{
    width: 400px;
    min-height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.455);
}
h1{
    color: #5c5ee8;
    padding: 1rem;
}
.container{
    display: flex;
}
#addBtn{
    background-color: #fa6666;
    color: white ;
    margin:0px 5px;
}
#addBtn:focus{
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none !important;
    border: 1px solid #5c5ee8 !important;
}
.item{
    margin: 10px 0;
    display: flex;
    align-items: center;
    background-color: #ece9e9a3;
    height: 50px !important;
    justify-content: space-between;
}
.far{
    color:#fa6666;
    cursor: pointer;
}
.elToDel{
    display: none;
}